*{
    background-size: cover;
    background-color: #eeffab;
    color: #1f3c0e;
    background: transparent;
}
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    background: radial-gradient(circle at center, #8db55d, #70a551, #1f3c0e);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.login-container {

    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 7px 7px 5px #83ae6a;
    width: 300px;
    transition: 0.4s ease-in-out;
    background: radial-gradient(  #cbf1c1 0%, #5eb62b 100%, #19a52b 100%);
}
.login-container:hover {
    transform: scale(1.02);

}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1f3c0e;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #1f3c0e;
    border-radius: 10px;
    width: 100%;
    background-color: #d5f3b0;
    color: #1f3c0e;
    box-sizing: border-box;
}
input:focus {
    border-color: #1f3c0e;
}
button {
    width: 50%;
    padding: 10px;
    color: #1f3c0e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    margin: 0 auto;
    background: transparent;
}
button:hover {
    background-color: #83ae6a;
    color: rgb(31, 60, 14);
    transform: scale(1.02);
}
.login-link {
    text-align: center;
    margin-top: 15px;
}
.login-link a {
    color: #1f3c0e;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
.error {
    color: #7e0c0c;
    font-size: 12px;
    display: none;
}