*{
    background-size: cover;
    background-color: #eeffab;
    color: #494212;
background: transparent;
}
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    background-image: url("../img/login-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;

    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    /*background-color: #eeffab;*/
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 7px 7px 5px #858f5c;
    width: 300px;
    transition: 0.4s ease-in-out;
    background: radial-gradient(#dee3bc 0%, #bedf3c 100%, #6b7545 100%);

}
.login-container:hover {
    transform: scale(1.02);

}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color:  #5e5200;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #095b01;
    border-radius: 10px;
    width: 100%;
    background-color: #c3fc9d;
    color: #053501;
    box-sizing: border-box;
}
input:focus {
    border-color: #39ee3c;
}
button {
    width: 50%;
    padding: 10px;
    /*background-color: #03a73d;*/
    color:  #494212;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    margin: 0 auto;
    background: transparent;
}
button:hover {
    background-color: #83ae6a;
    color: rgb(5, 55, 6);
    transform: scale(1.02);
}
.login-link {
    text-align: center;
    margin-top: 15px;
}
.login-link a {
    color: #029f60;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
.error {
    color: red;
    font-size: 12px;
    display: none;
}